.card{
    width: 30rem;
    height: 36rem;
}

.card-size{
    min-height: 68px;
}

.box {
    overflow: hidden;
    height: 30rem;
    width: 30rem;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 10px;     
    padding-top: 13px;   
}

.box:before {
    content: "";
    float: left;
    width: 5px;
    height: 2px;
}

.box > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}		

.box:after {
    content: "\02026";
    box-sizing: content-box;
    float: right;
    position: relative;
    top: -25px;
    left: 100%; 
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;	
    text-align: right;
    background-size: 100% 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}